*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: lato;
    src: url(../Fonts/Lato/Lato-Regular.ttf);
}
.en{
    font-family: lato;
    font-weight:400;
}
.contact{
    font-size: 16px;
    color: white;
}
.contact:hover{
    color: #ffa900 ;
}
.nav_contact{
    padding: 20px 0 20px 0;
    background-color: black;
}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0 72px 0 72px;
}
.nav_align{
    display: flex;
    justify-content: center;
    align-items: center;

}
.social{
    margin: 0 4px 0 0;
    font-size: 20px;
    color: #ffa900;
}
.social:hover{
    color: #cf8a00;
}
.logo{
    width: 78px;
    height: auto;
}
.navbar2{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 12px 72px 12px 72px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .08);
}
.navbar3 li a{
    text-decoration: none;
    background-color: #ffffff;
    text-decoration: none;
    margin: 12px;
}

    
.nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 36px;
}
.button{
    padding: 24px;
    font-size: 20px;
    margin: 0 16px;
    color: #1d1d1d;
    position: relative;
    border: 1px solid #ffffff;
    border-radius: 8px;    
    background-color: #ffffff;
}
.button:hover{
    color: #0a56bb;
    border: 1px solid #0a56bb;
    border-radius: 8px;    
    background-color: #d2e2f8;
}
.primary{
    display: inline-block;
    background-color: #0a56bb;
    color: white;
    border-radius: 50px;
    padding: 20px 48px;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 0 4px 1px rgba(0, 0, 0, .08);
}

.primary:hover{
    background-color: #064aa1;
    /* color: white;
    border-radius: 8px;
    padding: 20px;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 0 4px 1px rgba(0, 0, 0, .08); */
}
.outline{
    background-color: #ffffff;
    color: #202020;
    border-radius: 8px;
}
.banner{
    position: relative;
    width: 100%;
    height: auto;
}
.bannerposition{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 16px;
}
.grid{
    grid-template-columns: auto auto;
    align-items: center;
    grid-gap: 10px;
    width: 100%;
    padding: 5% 10% 5% 10%;
}
.gridInside{
    display: flex;
    justify-content: space-between;    
}
h3{
    font-size: 36px;
    text-transform: uppercase;
    color: white;
}
.p_width{
    color: #ffffff;
    font-size: 16px;
}
.gridbg{
    background-color: whitesmoke;
    opacity: 90%;
    padding: 48px;
    border-radius: 8px;
}
.primaryWidth{
    display: flex;
    width: auto !important; 
    justify-content:center
}
input{
    width: auto;
    height: 44px;
    border-radius: 8px;
    border: none;
    padding: 0 24px;
}
.select{
    width: 100%;
    height: 44px;
    border-radius: 8px;
    border: none;
    padding: 0 24px;
}
.fontsm{
    font-size: 16px;
    color: rgb(70, 70, 70);
    text-transform:uppercase;
}
.fontlg{
    font-size: 20px;
    color: #202020;
    text-transform:uppercase;
}
.gapsm{
    display: grid;
    grid-gap: 12px;
}
.gaplg{
    display: grid;
    grid-gap: 24px;
}
.bgImage{
background-image: url(../images/image.png);
background-size: cover;
width: 100%;
height: auto;
}
.padding{
    padding: 72px;
}