body{
    background-color: #dbd8d8;
}
#header{
    text-align: center;
    color: #2c2c2c;
    text-transform:uppercase;
}

#form{
    width: 70%;
    margin: auto;
}
input[type="text"],input[type="email"],input[type="number"]{
    width: 100%;
    height: 44px;
    outline: none;
    border-radius: 8px;
    border: 0.5px solid #cccccc;
}
input[type="text"]:focus,input[type="email"]:focus,input[type="number"]:focus{
    border: 4px solid #0a56bb
}
input[type="radio"]:checked + label{
    color: #0a56bb;
    text-transform: uppercase;
    font-weight: bold
}
input[type="checkbox"]:enabled + label{
    font-style: italic;
}
input[type="checkbox"]:checked + label{
    color: #bb420a;
    font-style: italic;
}
input[type="checkbox"]:disabled + label{
    color: #a5a5a5;
    font-style: italic;
}
ul li:first-child{
    background-color: red;
}
ul li:last-child{
    background-color: green;
}
ul li:nth-child(3){
    background-color: #0a56bb;
}
ul li:nth-child(5){
    background-color: aqua;
}
.thankyou{
    text-align: center;
}
:empty{
    background-color: #bb420a;
    height: 20px;
}
#submitbutton{
    height: 44px;
    width: 120px;
    background-color:#0a56bb;
    border: none;
    color: #ffffff;
    border-radius: 4px;
}
#submitbutton:hover{
    background-color: #032450;
    color: #ffffff;
}
#submitbutton:focus{
    border: 4px solid #bebebe;
    color:#0a56bb;
    background-color: white;
}